.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
      margin-top: 1%;
      margin-left: 20%;
    width: 50%;
  }
  .mc{
    margin-left: 25%;
    margin-right: 25%;
  } 