<div class="mc">
  <mat-card class="mat-card1">
    <div class="example-container" *ngIf="firstPart">
      <h2>Inscription (1/2)</h2>
      <div *ngIf="erreur" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
        <strong>Email invalide ou deja existant!</strong>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="dinosaure.email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="dinosaure.password"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div>
        <button mat-button color="warn" id="terminer" disabled>
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
          Précédent
        </button>
        <button mat-button color="primary" (click)="nextPart()" id="terminer">
          Suivant
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="example-container" *ngIf="secondPart">
      <h2>Inscription (2/2)</h2>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" type="number" [(ngModel)]="dinosaure.age" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Famille</mat-label>
        <input matInput placeholder="Famille" [(ngModel)]="dinosaure.famille" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Race</mat-label>
        <input matInput placeholder="Race" [(ngModel)]="dinosaure.race" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nourriture</mat-label>
        <input matInput placeholder="Nourriture" [(ngModel)]="dinosaure.nourriture" required>
      </mat-form-field>
      <div>
        <button mat-button color="warn" id="terminer" (click)="previousPart()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
          Précédent
        </button>
        <button mat-button color="primary" (click)="nextPart()" id="terminer" disabled>
          Suivant
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward_ios</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="Valider()">Valider</button>
      </div>

    </div>
  </mat-card>
</div>