<div class="mc">
  <mat-card class="mat-card1">
    <div class="example-container">
      <h2>Mes informations personnelles</h2>
      <div *ngIf="modification" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
        <strong>Votre compte a été modifié!</strong>
      </div>
      <div *ngIf="erreur" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close2()">&times;</button>
        <strong>Modification impossible!</strong>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" type="number" [(ngModel)]="dinosaure.age" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Famille</mat-label>
        <input matInput placeholder="Famille" [(ngModel)]="dinosaure.famille" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Race</mat-label>
        <input matInput placeholder="Race" [(ngModel)]="dinosaure.race" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nourriture</mat-label>
        <input matInput placeholder="Nourriture" [(ngModel)]="dinosaure.nourriture" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="modifier()">Modifier</button>

    </div>
  </mat-card>
</div>