<div class="mc">
  <mat-card class="mat-card1">
    <div class="example-container">
      <h2>Connexion</h2>
      <div *ngIf="erreur" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
        <strong>Email ou mot de passe invalide!</strong>
      </div>
      <div *ngIf="navigationService.creation" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="closeCreation()">&times;</button>
        <strong>Votre compte a été créé!</strong>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="dinosaure.email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="dinosaure.password"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="Connexion()">Connexion</button>
    </div>
  </mat-card>
</div>