<h2 *ngIf="allFriends">Mes amis</h2>
<h2 *ngIf="!allFriends && !ajoutNouvelAmi">Ajouter un ami</h2>
<mat-form-field *ngIf="allFriends && !ajoutNouvelAmi">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div *ngIf="allFriends && !ajoutNouvelAmi" class="mat-elevation-z8">
  <div *ngIf="friendDeleted" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
    <strong>Suppression effectuée!</strong>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="famille">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Famille </th>
      <td mat-cell *matCellDef="let row"> {{row.famille}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
      <td mat-cell *matCellDef="let row"> {{row.race}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nourriture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nourriture </th>
      <td mat-cell *matCellDef="let row"> {{row.nourriture}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
      <td mat-cell *matCellDef="let row"> {{row.age}} </td>
    </ng-container>

    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="warn" (click)="supprimer(row._id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<div *ngIf="allFriends" class="btA">
  <button mat-raised-button color="primary" (click)="pageAjout()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>Ajouter un ami
  </button>
</div>



<div *ngIf="!allFriends && !ajoutNouvelAmi" class="mat-elevation-z8">
  <div *ngIf="friendAdded" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" (click)="close2()">&times;</button>
    <strong>Ajout effectué!</strong>
  </div>
  <table mat-table [dataSource]="dataSource2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="famille">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Famille </th>
      <td mat-cell *matCellDef="let row"> {{row.famille}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
      <td mat-cell *matCellDef="let row"> {{row.race}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nourriture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nourriture </th>
      <td mat-cell *matCellDef="let row"> {{row.nourriture}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
      <td mat-cell *matCellDef="let row"> {{row.age}} </td>
    </ng-container>

    <ng-container matColumnDef="ajouter">
      <th mat-header-cell *matHeaderCellDef> Ajouter </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="ajouterAmi(row._id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="ajouterNouvelAmi">
      <th mat-header-cell *matHeaderCellDef> Ajouter Nouvel ami </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="ajouterNouvelAmi()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<div *ngIf="!allFriends && !ajoutNouvelAmi" class="btA">
  <button mat-raised-button color="primary" (click)="retour()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>Retour
  </button>
</div>


<!-- nouvelle partie -->
<div  *ngIf='ajoutNouvelAmi' class="mc">
  <mat-card class="mat-card1">
    <div class="example-container" *ngIf="firstPart">
      <h2>Inscription (1/2)</h2>
      <div *ngIf="erreur" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
        <strong>Email invalide ou deja existant!</strong>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="dinosaure2.email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="dinosaure2.password"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div>
        <button mat-button color="warn" id="terminer" disabled>
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
          Précédent
        </button>
        <button mat-button color="primary" (click)="nextPart()" id="terminer">
          Suivant
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="example-container" *ngIf="secondPart">
      <h2>Inscription (2/2)</h2>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" type="number" [(ngModel)]="dinosaure2.age" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Famille</mat-label>
        <input matInput placeholder="Famille" [(ngModel)]="dinosaure2.famille" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Race</mat-label>
        <input matInput placeholder="Race" [(ngModel)]="dinosaure2.race" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nourriture</mat-label>
        <input matInput placeholder="Nourriture" [(ngModel)]="dinosaure2.nourriture" required>
      </mat-form-field>
      <div>
        <button mat-button color="warn" id="terminer" (click)="previousPart()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
          Précédent
        </button>
        <button mat-button color="primary" (click)="nextPart()" id="terminer" disabled>
          Suivant
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward_ios</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="Valider()">Valider</button>
      </div>

    </div>
  </mat-card>
</div>