.mat-elevation-z8 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  td, th {
    width: 30%;
  }
.btA {
    margin-left: 15%;
    
}
  